# DropNa Test Data 

Drop all instances containing missing values

In [1]:
import pandas as pd, numpy as np

In [2]:
col_names = ['age','workclass','fnlwgt','education', 'education_num','marital_status',
             'occupation','relationship','race','sex','capital_gain','capital_loss', 
             'hours_per_week','native_country','50k']

In [3]:
df_test_raw_w_nans = pd.read_csv('census-income.test.csv', names = col_names)

In [4]:
df_test_raw_w_nans.replace(' ?', np.nan, inplace = True)

In [5]:
df_test_raw = df_test_raw_w_nans.dropna()

# Missing Values

In [6]:
print('test data set contains {} rows with missing values'.format(len(df_test_raw_w_nans) - len(df_test_raw)))

test data set contains 1221 rows with missing values

In [7]:
print('negative instances accounted for {}% of our times'.format(1221/(12435+3846)*100))

negative instances accounted for 7.499539340335361% of our times

# Unbalanced Data

In [8]:
target_w_nans = pd.get_dummies(df_test_raw_w_nans).iloc[:,-1]
target_w_nans.value_counts()

0    12435
1     3846
Name: 50k_ >50K., dtype: int64

In [9]:
print('test data set contains {} rows with missing values'.format(len(df_test_raw_w_nans) - len(df_test_raw)))

test data set contains 1221 rows with missing values

In [10]:
df_test_raw

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K.
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K.
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K.
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K.
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K.
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K.
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K.
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K.
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K.
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K.
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K.
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K.
30,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States,>50K.
31,56,Self-emp-not-inc,186651,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,50,United-States,<=50K.
32,24,Self-emp-not-inc,188274,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K.
33,23,Local-gov,258120,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K.
34,26,Private,43311,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16248,25,Private,242136,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K.
16249,31,Private,112115,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K.
16250,49,Self-emp-inc,77132,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Canada,>50K.
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K.
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,<=50K.
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K.
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K.
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K.
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K.
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,<=50K.
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,<=50K.
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K.
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K.
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K.
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,<=50K.
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K.
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,<=50K.
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K.
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K.
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K.
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K.
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

# Encode Target Column

In [11]:
test_target = pd.get_dummies(df_test_raw).iloc[:,-1]

In [12]:
test_target.head()

0    0
1    0
2    1
3    1
5    0
Name: 50k_ >50K., dtype: uint8

# Unbalanced Data

In [13]:
test_target.value_counts()

0    11360
1     3700
Name: 50k_ >50K., dtype: int64

# Continuous Columns 

age, education_num, fnlwgt, capital_gain, capital_loss, hours_per_week

In [14]:
test_features_raw = df_test_raw.iloc[:,:-1]

In [15]:
len(test_features_raw.columns)

14

In [16]:
df_continuous = pd.concat([test_features_raw.age,
           test_features_raw.fnlwgt,
           test_features_raw.capital_gain,
           test_features_raw.capital_loss,
           test_features_raw.hours_per_week], axis=1)

# Categorical Columns 0's and 1's (No NA's)

In [17]:
test_features_raw = df_test_raw.iloc[:,:-1]

In [18]:
test_features_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States

### workclass

In [19]:
workclass = pd.get_dummies(test_features_raw.workclass) 
workclass.head()

len(workclass.columns)

7

In [20]:
workclass.isnull().any()

 Federal-gov         False
 Local-gov           False
 Private             False
 Self-emp-inc        False
 Self-emp-not-inc    False
 State-gov           False
 Without-pay         False
dtype: bool

### education

In [21]:
education = pd.get_dummies(test_features_raw.education)
education.head()

len(education.columns)

16

### marital

In [22]:
marital_status = pd.get_dummies(test_features_raw.marital_status)
marital_status.head()

len(marital_status.columns)

7

### occupation

In [23]:
occupation = pd.get_dummies(test_features_raw.occupation) 
occupation.head()

len(occupation.columns)

14

### relationship

In [24]:
relationship = pd.get_dummies(test_features_raw.relationship)
relationship.head()

len(relationship.columns)

6

### race

In [25]:
race = pd.get_dummies(test_features_raw.iloc[:,8])
race.head()

len(race.columns)

5

### sex

In [26]:
sex = pd.get_dummies(test_features_raw.iloc[:,9])
sex.head() # Male = 1, Female = 0

    Female   Male
0        0      1
1        0      1
2        0      1
3        0      1
5        0      1

# native_country

One less column than train data

In [27]:
native_country = pd.get_dummies(test_features_raw.native_country)
native_country.head()

len(native_country.columns)

40

In [28]:
missing_country = pd.Series(np.zeros(len(native_country)).astype(int))

In [29]:
native_country.insert(loc = 14, column = ' Holand-Netherlands', value=missing_country)

In [30]:
native_country.iloc[:,14] = int(0)

In [31]:
len(native_country.columns)

41

# Put dataset together

In [32]:
df1 = df_continuous.merge(sex, left_index=True, right_index = True)

In [33]:
df2 = df1.merge(race, left_index=True, right_index = True)

In [34]:
df3 = df2.merge(relationship, left_index=True, right_index = True)

In [35]:
df4 = df3.merge(marital_status, left_index=True, right_index = True)

In [36]:
df5 = df4.merge(native_country, left_index=True, right_index = True)

In [37]:
df6 = df5.merge(workclass, left_index=True, right_index = True)

In [38]:
df = df6.merge(occupation, left_index=True, right_index = True)

In [39]:
len(df.columns)

87

### Insert Target Variable

In [40]:
df.insert(loc=87, column = '>50k', value =test_target)

In [41]:
len(df.columns)

88

In [42]:
df.columns = [x.strip() for x in df.columns]

In [43]:
df.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,25,226802,0,0,40,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1,38,89814,0,0,50,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28,336951,0,0,40,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,44,160323,7688,0,40,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
5,34,198693,0,0,30,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [44]:
df.columns

Index(['age', 'fnlwgt', 'capital_gain', 'capital_loss', 'hours_per_week',
       'Female', 'Male', 'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black',
       'Other', 'White', 'Husband', 'Not-in-family', 'Other-relative',
       'Own-child', 'Unmarried', 'Wife', 'Divorced', 'Married-AF-spouse',
       'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
       'Separated', 'Widowed', 'Cambodia', 'Canada', 'China', 'Columbia',
       'Cuba', 'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England',
       'France', 'Germany', 'Greece', 'Guatemala', 'Haiti',
       'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India', 'Iran',
       'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico', 'Nicaragua',
       'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan', 'Thailand',
       'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia',
       'Federal-gov', 'Local-gov', 'Private', 'Self-emp-inc',
       'Self-emp-not-inc', 'State-gov', 'Without-pay', 'Adm-clerical',
       'Armed-Forces', 'Craft-repair', 'Exec-managerial', 'Farming-fishing',
       'Handlers-cleaners', 'Machine-op-inspct', 'Other-service',
       'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales',
       'Tech-support', 'Transport-moving', '>50k'],
      dtype='object')

# Normalize continuous variables

In [45]:
df.age = (df.age - 38.437901995888865) / 13.134664776856338

In [46]:
df.fnlwgt = (df.fnlwgt - 189793.83393011073) / 105652.97152851959

In [47]:
df.capital_gain = (df.capital_gain  - 1092.0078575691268) / 7406.346496681988

In [48]:
df.capital_loss = (df.capital_loss  - 88.37248856176646) / 404.2983704862744

In [49]:
df.hours_per_week = (df.hours_per_week - 40.93123798156621) / 11.979984229273281

In [50]:
df.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Female,Male,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,-1.023087,0.350280,-0.147442,-0.218582,-0.077733,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1,-0.033339,-0.946304,-0.147442,-0.218582,0.756993,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.794684,1.392835,-0.147442,-0.218582,-0.077733,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0.423467,-0.278940,0.890586,-0.218582,-0.077733,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
5,-0.337877,0.084230,-0.147442,-0.218582,-0.912458,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [51]:
df.to_csv('test_dropna.csv')